@tailwind base;     
@tailwind components;  
@tailwind utilities;   

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;  
    box-sizing: border-box;
    background-color: #f9f9f9;  
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;  
}

.header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.header .nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header .nav ul li a {
    text-decoration: none;
    color: white;
}

.header .nav ul li .btn-signin {
    background-color: #ff4757;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;  
    background: url('/images/images/banner-bg.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    border-radius: 10px;  
}
.price {
    position: absolute;
    top: 160px;
    right: 50px;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    width: 33px;
    height: 20px;
    font-weight: bold; 
}
.hero-image {
   
    border-radius: 10px; 
      
  }
   
  
.hero-content {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 3em;
    font-weight: bold;
}

.hero-content h2 {
    font-size: 2em;
    color: #ff4757;
}

.hero-content p {
    font-size: 1.2em;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  
  .icon {
    text-align: center;
    padding: 70px;
    border-radius: 10px;
    background-color: #fff;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
  }
  
  .icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;  
    background-color: #007bff;  
    padding: 10px;  
  }
.games {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}

.games .game-cards {
    display: flex;
    justify-content: space-around;
}
form {
    display: flex;
    background-color: #fff;  
    border-radius: 20px;  
    overflow: hidden;  
    margin-top: 20px;
    margin-right: 400px;
  }
  
  form input[type="text"] {
    padding: 10px;
    border: none;  
    outline: none;  
    flex: 1;
    background-color: transparent; 
  }
  
  form button {
    background-color: #ff6347; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;  
  }
  